- cache(element) do
	= element_view_for(element) do |el|
		.li
			.tags.checkbox
				= check_box_tag  el.render :q_tag
				= label_tag el.render :q_tag
			.q
				= el.render :q
				.pop_hover
					= el.render :pop_hover
				.pop_hover_text.hide1
					= el.render :pop_hover_text
				

	    